body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0D1117;
}
a {
    text-decoration: none;
}
.box{
    text-align: center;
}
.box h2{
    margin-bottom: 100px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.button-container {
    display: flex;
    justify-content: space-around;
    gap: 80px;
}
.button-container button {
    height: 50px;
    width: 200px;
    background: white;
    border-radius: 5px;
    color: blue;
    font-weight: 600;
    cursor: pointer;
}

@media (min-width: 100px) and (max-width: 1200px) {
    .button-container button {
        height: 100px;
        width: 400px;
        font-size: 30px;
    }
    .button-container {
        gap: 20px;
    }
    .box h2{
        font-size: 50px;
        margin-bottom: 50px;
    }
}