@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --dark-color: #000;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--dark-color);
    overflow: hidden;
    perspective: 1000px;
    background-image: radial-gradient(ellipse at top, transparent 0%, var(--dark-color)), radial-gradient(ellipse at bottom, var(--dark-color), rgba(145, 233, 255, 0.2)), repeating-linear-gradient(220deg, black 0px, black 19px, transparent 19px, transparent 22px), repeating-linear-gradient(189deg, black 0px, black 19px, transparent 19px, transparent 22px), repeating-linear-gradient(148deg, black 0px, black 19px, transparent 19px, transparent 22px), linear-gradient(90deg, #00fffa, #f0f0f0);
    font-family: Poppins, sans-serif, arial;
}


a {
    text-decoration: none;
}

.box{
    text-align: center;
}

.box h2{
    margin-bottom: 100px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.button-container {
    display: flex;
    justify-content: space-around;
    gap: 80px;
}

.button-container button {
    position: relative;
    height: 50px;
    width: 200px;
    background: white;
    border-radius: 5px;
    color: blue;
    font-weight: 600;
    cursor: pointer;
}

@media (min-width: 100px) and (max-width: 1200px) {
    .button-container button {
        height: 100px;
        width: 400px;
        font-size: 30px;
    }
    .button-container {
        gap: 20px;
    }
    .box h2{
        font-size: 50px;
        margin-bottom: 50px;
    }
}